node_modules
mythx.json
.env
coverage
coverage.json
typechain

metadata/out/*
# Yarn files
yarn-error.log

#Hardhat files
cache
artifacts


.idea
tenderly.yaml
.vs/*
.DS_Store

.vscode

deployments
broadcast
out
docs